.App {
    display: unset;
}
.todoapp {
    button {
        height: auto;
        width: auto;
        font-size: 15px;
        overflow: hidden;
        padding: 5px;
        &.add-button {
            height: auto;
            width: auto;
            padding: 15px;
          }
    }
    input {
        margin: 15px;
        padding: 5px 10px;
        font-size: 20px;
    }
    .form {
        font-size: 20px
    }
    .form button {
        text-transform: uppercase;
    }
    color: #f5f5f5;
    .tasks {
        // border: 2px #f5f5f5 solid;   
        // border-radius: 3%;
        text-transform: uppercase;     
    }
    .task {
        margin: 20px;
        text-align: left;        
        text-transform: capitalize;
    }
    .due-date-task {
        text-align: right;     
        margin: 20px;   
    }
}