.todoapp {
    button {
        height: auto;
        width: auto;
        font-size: 15px;
        overflow: hidden;
    }
    input {
        margin: 15px;
        padding: 5px 10px;
        font-size: 20px;
    }
    .form {
        font-size: 20px
    }
    .form button {
        padding: 3px 10pc;
        text-transform: uppercase;
    }
    
}